body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #555;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
}

.centered {
  text-align: center;
}

/* Links */
a {
  color: #e56e37;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus,
i:hover,
i:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  width: 100%;
}

i {
  color: #e8e8e8;
}

section {
  height: 0;
}

/*---------------------------------------------------
SECTION WRAPS
---------------------------------------------------*/
/* Header Wrap */

#headerwrap {
  background: url(../img/coverphoto.jpg) no-repeat center top;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#headerwrap h1 {
  font-size: 80px;
  margin: 0;
  color: #e8e8e8;
}

#headerwrap h3 {
  font-size: 20px;
  color: #e8e8e8;
}

#about {
  background: #1f0638;
}
/* Intro Wrap */

#intro {
  background: #1f0638;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #e8e8e8;
}

#intro h5,
p {
  color: #e8e8e8;
}

#intro i {
  color: #e56e37;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

#skillswrap {
  background: #1f0638;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #e8e8e8;
}

#skillswrap h5,
p {
  color: #e8e8e8;
}

#footwrap {
  background: #140424;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footwrap p {
  color: #e8e8e8;
}

#footwrap h5 {
  color: #e8e8e8;
}

#footwrap t {
  font-weight: 700;
}

#footwrap i {
  padding-right: 8px;
  color: #e8e8e8;
}

#footwrap i:hover,
#footwrap i:focus {
  color: #e56e37;
}

/* Copyright Wrap */

#c {
  background: #140424;
}

#c p {
  color: #e8e8e8;
}
/* Global Values */

.desc {
  padding: 60px 0;
}

.desc p {
  color: #2b202a;
}

.desc t {
  color: #1f0638;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: #e8e8e8;
  background: #34495e;
}

.desc more {
  color: #838585;
}

sm {
  font-size: 14px;
}

#social_icons {
  display: block;
}

#social_icons li {
  display: inline-table;
  padding: 6px 4px;
}

span.tab {
  padding: 0 4px;
}

#appcow_tryout {
  background: url(../img/appcow_tryout.jpg) no-repeat center top;
}
